%h1#logo posterit
#fail
  %h1= @msg
  %a{:href => @request.env["HTTP_REFERER"]} Why don't you try it again
  %br
#footer
  This service is provided for free and without support by 
  %a{:href => "http://twitter.com/rmanalan", :target => "_blank"} @rmanalan
  \. The source code is available at
  %a{:href => "http://github.com/manalang/posterit", :target => ""} GitHub
  \. I built this so that I can post items from Google Reader to Posterous.
  If you want to do that too, go
  %a{:href => "http://manalang.com/how-to-post-to-posterous-from-google-reader"} here
  to find out how.
