%h1#logo
  %a{:href => "/"} posterit
#main
  %form{:action => "/", :method => "POST", :id => "post-form"}
    %p
      %label{:for => "title"} Title
      %br
      %input{:type => "text", :value => @params[:title], :id => "post-title", :name => "title"}
    %p
      - if @params[:shorturl] or @params[:url]
        - if @params[:shorturl]
          - link = @params[:shorturl]
        - else
          -link = @params[:url]
        %label{:for => "link"} Link
        %br
        %input{:type => "text", :value => link, :id => "post-link", :name => "link", :class => ""}
        - if @params[:source]
          %input{:type => "hidden", :value => @params[:source], :name => "source"}
      - else
        %label{:for => "body"} Body
        %br
        %textarea{:id => "post-body", :name => "body"}= @params[:body]
    %p
      %label{:for => "body"} Comments
      %br
      %textarea{:id => "post-comment", :name => "comment"}
    %p
      %input{:type => "checkbox", :value => 0, :checked => false, :name => "autopost"}
      %label{:for => "autopost"} Autopost everywhere
    %p#auth
      %label{:for => "email"} Email
      %br
      %input{:type => "text", :value => @email, :id => "posterous-email", :name => "email", :class => "text"}
      %label{:for => "title"} Password
      %br
      %input{:type => "password", :value => @password, :id => "posterous-password", :name => "password", :class => "text"}
      %br
      %small Posterit DOES NOT store your email and password. Use your browser's "save password" functionality if you want your email and password remembered. 
    %br
    %input{:type => "submit", :value => "Post", :id => "post-button"}
#footer
  This service is provided for free and without support by 
  %a{:href => "http://twitter.com/rmanalan", :target => "_blank"} @rmanalan
  \. The source code is available at
  %a{:href => "http://github.com/manalang/posterit", :target => ""} GitHub
  \. I built this so that I can post items from Google Reader to Posterous.
  If you want to do that too, go
  %a{:href => "http://manalang.com/how-to-post-to-posterous-from-google-reader"} here
  to find out how.
