!!! XML
!!!
%html
  %head
    %link{:type => "text/css", :rel => "stylesheet", :media => "screen", :href => "/styles.css"}
    %link{:type => "image/x-png", :rel => "icon", :href => "/favicon.png"}
    %title Send stuff to Posterous &mdash; Posterit
  %body
    = yield
